//@media (max-width: 480px) {
//    footer {
//        height: 36vh;
//        margin: 0;
//        line-height: 36vh;
//        background: #fe5722;
//        .infobox {
//            margin-top: 0;
//            padding: 0;
//            background: transparent;
//            display: inline-block;
//            vertical-align: middle;
//            line-height: 50px;
//            span {
//                font-size: 25px;
//                display: block;
//                width: 100%;
//                padding: 0;
//            }
//            i {
//                display: none;
//            }
//        }
//        .container {
//            display: none;
//        }
//    }
//    .page-content {
//        display: none;
//    }
//    .overlay {
//        display: none;
//    }
//    header {
//        height: 64vh;
//        background-size: cover;
//        background: url(../img/mobile_background.jpg);
//        background-position: bottom;
//        padding-top: 0;
//        line-height: 64vh;
//        .logo {
//            font-size: 15px;
//            line-height: 30px;
//            height: 30px;
//            width: 60px;
//            border: 2px solid #fff;
//            margin-top: -30px;
//        }
//        .middle {
//            display: inline-block;
//            vertical-align: middle;
//            line-height: 1.2;
//        }
//        h1 {
//            font-size: 45px;
//            line-height: 65px;
//            margin: 25px auto 20px;
//        }
//        h3 {
//            font-size: 16px;
//            width: 66%;
//            margin: 0px auto;
//            line-height: 22px;
//        }
//    }
//}
//
//@media (max-width: 330px) {
//    header h3 {
//        width: 80%;
//    }
//    header h1 {
//        margin: 27px auto 20px;
//        line-height: 40px;
//    }
//}
//
//@media (max-width: 700px) and (orientation: landscape) {
//    header {
//        height: 100vh;
//        line-height: 100vh;
//    }
//}
//
@media (max-width: 480px) {
    .xs-hidden {
        display: none;
    }
    .page-content section .feature-description li {
        width: 90%;
    }
    #contact {
        width: 100%;
        box-sizing: border-box;
        padding: 39px 30px;
        margin: 30px 0 !important;
    }
    #cd-google-map {
        padding: 20px 0 !important;
        address {
            left: 0 !important;
            bottom: 0 !important;
        }
    }
}

@media (max-width: 700px) {
    .col-6 {
        width: 90%;
        margin: 0 5%;
        float: none;
        .i-item {
            width: 100%;
            .item-desciption {
                height: auto;
            }
        }
    }
    .testimonial {
        .pull-left {
            float: none;
        }
        .img-box {
            margin: 0px auto 20px;
            float: none;
        }
        .testimonial-txt {
            width: 90%;
            margin: 0 5%;
        }
    }
    .col-6 {
        .i-item {
            float: none !important;
            margin: 0 5%;
            max-width: auto;
        }
    }
    .review-box {
        margin: 0px auto 40px !important;
    }
    .col-7 {
        width: 90%;
        float: none;
        margin: 0 auto;
    }
    .col-5 {
        width: 100%;
        float: none !important;
        margin: 0 auto;
        #contact {
            margin: 0 auto;
        }
    }
}