/* Font Import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot");
  src: url("../fonts/icomoon/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf") format("truetype"), url("../fonts/icomoon/icomoon.woff") format("woff"), url("../fonts/icomoon/icomoon.svg#icomoon") format("svg"); }
/* Reset */
html {
  font-size: 100%; }

body {
  color: #485156;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

.main-wrapper {
  opacity: 1; }

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 33px;
  line-height: 53px; }

h2 {
  line-height: 42px; }

h3 {
  line-height: 34px; }

h4 {
  line-height: 28px;
  font-size: 16px; }

h3 small,
h4 small,
h5 small {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #444; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #505458;
  font-size: 62%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 400; }

h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px; }

a {
  text-shadow: none !important;
  color: #393939;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s !important; }

a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none; }

label.inline {
  display: inline-block;
  position: relative;
  top: 0px;
  font-size: 13px; }

ul > li {
  padding-left: 0;
  line-height: 20px; }

address {
  margin-bottom: 0px; }

blockquote {
  padding: 0 0 0 18px;
  border-left: 5px solid #EEEEEE; }

blockquote p {
  font-size: 16px; }

blockquote small:before {
  content: ""; }

blockquote.pull-right small:after {
  content: ""; }

blockquote small {
  line-height: 29px;
  color: #8b91a0; }

.normal {
  font-weight: normal; }

.semi-bold {
  font-weight: 600; }

.bold {
  font-weight: bold; }

.all-caps {
  text-transform: uppercase; }

.light {
  font-weight: 300 !important; }

.small-text {
  font-size: 12px !important; }

.normal-text {
  font-size: 13px !important; }

.large-text {
  font-size: 15px !important; }

.center-text {
  text-align: center !important; }

.muted {
  color: #b6bfc5; }

/* Background Colors */
.bg-blue {
  background-color: #00acec !important; }

.bg-red {
  background-color: #f35958 !important; }

.bg-yellow {
  background-color: #00acec !important; }

.bg-green {
  background-color: #0aa699 !important; }

.bg-purple {
  color: #852b99 !important; }

.bg-grey {
  color: #555555 !important; }

/* Font Colors */
.text-black {
  color: #1b1e24 !important; }

.text-white {
  color: #fff !important; }

.text-success {
  color: #0AA699 !important; }

.text-info {
  color: #0090D9 !important; }

.text-warning {
  color: #fbb05e !important; }

.text-error {
  color: #F35958 !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

/* Color bands showcase used for demo */
.color-bands.green {
  background-color: #0aa699; }

.color-bands.purple {
  background-color: #a272b2; }

.color-bands.red {
  background-color: #f35958; }

.color-bands.blue {
  background-color: #14b9d6; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE; }

/*** Fixes & Misc ***/
.middle > * {
  vertical-align: middle; }

.hide {
  display: none !important; }

.appear {
  visibility: hidden; }

.v-align-bottom {
  vertical-align: bottom; }

.v-align-top {
  vertical-align: top; }

.v-align-middle {
  vertical-align: middle; }

.inline {
  display: inline-block; }

img.resize {
  max-width: 100%;
  height: auto; }

.push-bottom {
  position: absolute;
  bottom: 0; }

.push-top {
  position: absolute;
  top: 0; }

.clearfix {
  clear: both; }

p {
  margin: 0 0 10px;
  line-height: 21px; }

header {
  width: 100%;
  color: #595F6F;
  box-sizing: border-box;
  padding: 60px 0px;
  font-weight: 600;
  font-size: 28.5px; }
  header .logo {
    display: block; }

.container {
  max-width: 992px;
  margin: auto;
  width: 90%; }

.page-content {
  text-align: center; }
  .page-content h2 {
    font-size: 45px;
    color: #37474f; }
  .page-content section .description {
    font-size: 18px;
    line-height: 28px;
    margin: 50px 0 25px;
    width: 95%;
    text-align: left; }
  .page-content section .feature-description {
    font-size: 18px;
    margin: 25px 0px;
    color: #5f6a70;
    padding-left: 80px; }
    .page-content section .feature-description li {
      position: relative;
      list-style: none;
      width: 360px;
      text-align: left;
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 30px; }
      .page-content section .feature-description li:before {
        content: '';
        height: 48px;
        width: 48px;
        position: absolute;
        background: #1EA7D4;
        opacity: 0.2;
        top: 0;
        left: -80px;
        border-radius: 100%; }
  .page-content .col-3 {
    width: 25%;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box; }
  .page-content .col-5 {
    float: left;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 50px; }
    .page-content .col-5 .feature-icon {
      width: 120px;
      height: 120px;
      background: #e5e3e6;
      margin: auto; }

.col-sm-4 {
  width: 33%;
  float: left; }

.col-sm-8 {
  width: 66%;
  float: left; }

.col-sm-3 {
  width: 25%;
  float: left; }

.col-sm-9 {
  width: 75%;
  float: left; }

.f18 {
  font-size: 18px; }

.col-7 {
  width: 58.333%;
  float: left; }

.col-5 {
  width: 41.666%;
  float: left; }

.col-6 {
  width: 50%;
  float: left; }
  .col-6.reverse .i-item {
    float: right; }
  .col-6.reverse .review-box {
    margin-right: 0;
    margin-left: 20px;
    float: right; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background: #D2EDF6;
  padding: 39px 54px;
  margin: 50px 0;
  width: 270px;
  border: 1px solid #C4C7C8; }

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 20px; }

fieldset {
  border: medium none !important;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 0px; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #C4C7C8;
  background: #FFF;
  font-size: 16px;
  margin: 0 0 5px;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #595F6F; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1EA7D4;
  color: #FFF;
  margin: 0 0 5px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-radius: 4px; }

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #999; }

::-webkit-input-placeholder {
  color: #595F6F; }

:-moz-placeholder {
  color: #595F6F; }

::-moz-placeholder {
  color: #595F6F; }

:-ms-input-placeholder {
  color: #595F6F; }

.listbox {
  background: rgba(118, 185, 195, 0.1);
  height: 130px;
  line-height: 130px; }
  .listbox ul {
    list-style: none; }
    .listbox ul li {
      float: left;
      margin: 0px 70px;
      line-height: 145px; }
      .listbox ul li:last-child {
        margin-right: 0px; }
      .listbox ul li:first-child {
        margin-left: 0px; }

section, header {
  -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
  -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
  -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
  transition: transform 0.75s ease, opacity 0.75s ease;
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1; }

section.inactive, header.inactive {
  -moz-transform: translateY(2em);
  -webkit-transform: translateY(2em);
  -ms-transform: translateY(2em);
  transform: translateY(2em);
  opacity: 0; }

.i-item {
  max-width: 450px;
  margin: 0px 20px;
  width: 90%;
  transition: box-shadow 0.25s ease, opacity 0.25s ease; }
  .i-item.inactive {
    box-shadow: none !important;
    opacity: 0.25; }
  .i-item .item-desciption {
    height: 285px;
    text-align: left; }
    .i-item .item-desciption .item-title {
      font-size: 20px; }
    .i-item .item-desciption p {
      line-height: 26px; }
    .i-item .item-desciption .list-icon {
      height: 40px;
      width: 40px;
      border: 4px solid #1EA7D4;
      margin: 45px 0px 15px;
      display: inline-flex; }
  .i-item .item-image {
    height: 285px;
    background: #1EA7D4;
    opacity: 0.2; }

.testimonial,
.review-box {
  padding-top: 105px;
  margin-top: 150px;
  padding-bottom: 90px; }
  .testimonial .img-box,
  .review-box .img-box {
    height: 173px;
    width: 173px;
    border-radius: 100%;
    float: left;
    margin: 0px 70px 20px 50px; }
  .testimonial .testimonial-txt,
  .review-box .testimonial-txt {
    text-align: left;
    float: left;
    width: 70%; }
    .testimonial .testimonial-txt .user-name,
    .review-box .testimonial-txt .user-name {
      margin-top: 50px;
      font-size: 20px;
      font-style: italic;
      color: #485156; }
    .testimonial .testimonial-txt .position,
    .review-box .testimonial-txt .position {
      font-size: 17px;
      font-style: italic;
      color: #485156; }
    .testimonial .testimonial-txt p,
    .review-box .testimonial-txt p {
      font-size: 18px;
      line-height: 28px; }

.social-list {
  list-style: none;
  margin-top: 65px; }
  .social-list li {
    float: left;
    margin: 0 10px;
    line-height: 40px; }

.blue-bg {
  background: #F1F8F9; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.review-box {
  padding: 50px 45px 35px;
  background: #F1F8F9;
  margin-right: 20px;
  margin-top: 40px; }
  .review-box .testimonial-txt {
    float: none;
    width: 100%; }
    .review-box .testimonial-txt .user-name {
      margin-top: 10px; }

.col-6 #contact {
  width: 100%;
  box-sizing: border-box;
  margin: 100px 0px; }

.progress-button {
  position: relative;
  cursor: pointer;
  width: 100%;
  border: none;
  background: #1EA7D4;
  color: #FFF;
  margin: 0 0 5px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  border-radius: 4px;
  text-transform: uppercase; }

.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default; }

.progress-button .content {
  position: relative;
  display: block; }

.progress-button .content::before,
.progress-button .content::after {
  position: absolute;
  right: -30px;
  color: #1EA7D4;
  font-family: "icomoon";
  opacity: 0;
  transition: opacity 0.3s 0.5s; }

.progress-button .content::before {
  content: "\e600";
  /* Checkmark for success */ }

.progress-button .content::after {
  content: "\e601";
  /* Cross for error */ }

.progress-button.state-success .content::before,
.progress-button.state-error .content::after {
  opacity: 1; }

.notransition {
  transition: none !important; }

.progress-button .progress {
  background: #11617b; }

.progress-button .progress-inner {
  position: absolute;
  left: 0;
  background: #11617b; }

.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  transition: width 0.3s, opacity 0.3s; }

.progress-button[data-vertical] .progress-inner {
  bottom: 0;
  width: 100%;
  height: 0;
  transition: height 0.3s, opacity 0.3s; }

/* Necessary styles for buttons with 3D transforms */
.progress-button[data-perspective] {
  position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  perspective: 900px; }

.progress-button[data-perspective] .content {
  padding: 0 60px;
  background: #1EA7D4; }

.progress-button[data-perspective] .progress-wrap {
  display: block;
  transition: transform 0.2s;
  transform-style: preserve-3d; }

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
  outline: 1px solid transparent;
  /* Smoothen jagged edges in FF */ }

.progress-button[data-style="rotate-angle-bottom"] .progress {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 20px;
  box-shadow: 0 -1px 0 #148544;
  /* fix the blurriness that causes a gap */
  transform: rotateX(-90deg);
  transform-origin: 50% 0%; }

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap {
  transform: rotateX(45deg); }

#google-container {
  position: relative;
  width: 100%;
  height: 485px;
  background-color: #e7eaf0; }

@media only screen and (min-width: 768px) {
  #google-container {
    height: 485px; } }
@media only screen and (min-width: 1170px) {
  #google-container {
    height: 485px; } }
#cd-google-map {
  position: relative;
  padding: 100px 0px 100px 20px; }

#cd-google-map address {
  position: absolute;
  bottom: 99px;
  left: 20px;
  right: 0;
  padding: 2em;
  background-color: #fff;
  color: #595F6F;
  font-size: 14px;
  height: 130px;
  font-size: 0.8125rem;
  font-style: normal; }
  #cd-google-map address .phone {
    font-size: 19px;
    font-weight: 600; }

@media only screen and (min-width: 768px) {
  #cd-google-map address {
    font-size: 15px;
    font-size: 0.9375rem;
    text-align: center; } }
#cd-zoom-in,
#cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(211, 104, 104, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg"); }

.no-touch #cd-zoom-in:hover,
.no-touch #cd-zoom-out:hover {
  background-color: #d36868; }

@media only screen and (min-width: 768px) {
  #cd-zoom-in,
  #cd-zoom-out {
    margin-left: 50px; } }
#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }

@media only screen and (min-width: 768px) {
  #cd-zoom-in {
    margin-top: 50px; } }
#cd-zoom-out {
  background-position: 50% -32px; }

.container-lg {
  max-width: 1130px;
  margin: 0 auto;
  width: 90%; }

footer {
  height: 80px;
  line-height: 80px;
  overflow: hidden; }
  footer .container-lg {
    max-width: 1230px;
    margin: 0 auto;
    width: 90%; }
  footer .copyright {
    font-size: 12px; }
  footer .social-list {
    margin-top: 0px; }
    footer .social-list li {
      line-height: 100px; }

/*# sourceMappingURL=style.css.map */
